*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
html,body{
    height: 100%;
    width: 100%;
}

body{
  background: black;
}

nav{
  background: white;
  width: 100%;
  height: 150px;
  padding: 2.5%;
  display: flex;
  align-items: center;
}
.image img{
 height: 72px;
 padding-right: 45px;
}

.image img:hover{
  cursor: pointer;
}

nav ul li{
  display: inline-block;
  line-height: 10px;
  margin: 0 10px;
  color: black;
}

nav ul li a{
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  visibility:visible;
  transform: scaleX(1);
  transition: all 0.1s ease-in-out;
}

nav>ul>li:first-child {
  border-bottom: 5px solid rgb(68, 171, 231);
  border-radius: 2px;
  

}

nav>ul>li>a:hover {
  border-bottom: 4px solid rgb(48, 167, 236);
  border-radius: 2px;
}
.main {
    background-color: black;
    color: white;
    padding: 25px 40px;
  }
  
  .main .heading {
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 8px;
    letter-spacing: 0.5px;
    margin-left: 25px;
  }
  
  .trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Grid {
    width: 31.9%;
    margin: 4px;
    position: relative;
    color: white;
    transition: 0.5s linear;
    overflow: hidden;
  }
  
  .Grid img {
    width: 100%;
    transition: 0.5s ease-in-out;
  }
  
  .Grid img:hover{
    transform: scale(1.2);
  }
  .Grid:hover{
    color:blue !important;
  }
  
  .Grid:nth-child(n + 4) {
    width: 23.5%;
    height: 100%;
  }
  
  .Grid img:hover {
    opacity: 0.8;
  }
  
  .titles {
    width: 100%;
    font-size: 1vh;
    padding: 10px 0 10px 10px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2)
    );
  }
  
  .titles p {
    font-size: 14px;
    color: White;
    text-decoration: none;
  }
  
  .titles p:first-of-type {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
  }
  footer {
    background-color: rgba(26, 24, 24, 0.945);
    text-align: center;
    padding: 70px 0 0;
  }

  .footer {
    padding: 1 1 50px;
  }
  

  .downnav a {
    font-size: 25px;
    line-height: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.857);
    
  }
  .down li {
    display: inline-block;
    list-style: none;
    padding: 15px 16px;
  }
  .copyright {
    margin: 0 0 16px;
    padding: 30px 15px 0;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.336);
  }
  .bottom {
    background: black;
    text-align: center;
  }
  .bottom a,
  .end a {
    background-position: 50%;
    display: inline-block;
    height: 75px;
    vertical-align: bottom;
    width: 100px;
    margin: 20px 30px 0 30px;
    background-repeat: no-repeat !important;
    opacity: 0.6;
  }
  .end a {
    margin-bottom: 30px;
  }
  .end a {
    opacity: 0.8;
  }
  .known img {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 50px;
    vertical-align: bottom;
    width: 100px;
  }
  
  .end {
    color: rgba(255, 255, 255, 0.714);
    font-size: 25px;
  }

    .navbar {
      align-items: center;
    }
    .cartoon {
      margin: 0 auto;
    }
    .cartoon img{
      width:80%;
    }
    .tab {
      display: none;
    }
    

  
  
    .known a {
      padding: 0;
      margin: 4.5px;
    }
  
  .Box2{
      margin-top: 60px;
      font-size: 24px;
      margin-left: 25px;
  }
  